#Eclipse project settings
.settings
.project
.classpath

#Ignore swap files
*~
*.swp

#Ignore target files
target/

doc/namen.txt

doc/tex/*.command
doc/tex/*.aux
doc/tex/*.log
doc/tex/*.synctex.gz

Konrad_vonGeysoHoeffkenRaitza*
